$bootstrap-sass-asset-helper: false !default;
//
// Переменные
// --------------------------------------------------

//== Брейкпоинты медиа запросов
//
//## Идентификация брейкпоинтов, на которых будет изменяться макет

// Очень маленький экран / телефон
$screen-xs:                  320px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Landscape маленький экран / телефон
$screen-ms:                  480px !default;
$screen-ms-min:              $screen-ms !default;
$screen-phone-landscape:     $screen-ms-min !default;

// Маленький экран / планшет
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Средний экран / монитор
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Большой экран / широкоформатный монитов
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// Так недопускается перекрытие разных размеров
$screen-xs-max:              ($screen-ms-min - 1) !default;
$screen-ms-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Сетка
//
//## Можно установить кастомные размеры сетки

//** Количество колонок
$grid-columns:              12 !default;
//** Расстояние между колонками. Число равняется сумме левого и правого отступов
$grid-gutter-width:         30px !default;

//== Размер контейнеров
//
//## Можно установить размер `.container` для разных размеров экрана

// Маленький экран / планшет
$container-tablet:             (720px + $grid-gutter-width) !default;
//** Работает для `$screen-sm-min` и более.
$container-sm:                 $container-tablet !default;

// Средний экран / монитор
$container-desktop:            (940px + $grid-gutter-width) !default;
//** Работает для `$screen-md-min` и более.
$container-md:                 $container-desktop !default;

// Большой экран / широкоформатный монитор
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** Работает для `$screen-lg-min` и более.
$container-lg:                 $container-large-desktop !default;