extends  layouts/main.pug
block content
    div.wrapper
        table.table
            thead
                tr
                    th.table__headcell(colspan="4") В среднем за 12 недель
                    th.table__headcell.hidden-stage-3(colspan="6") На прошлой неделе, 11 - 17 июля
            tbody
                tr
                    td.table__titlecell Место
                    td.table__titlecell Пиццерия
                    td.table__titlecell Рейтинг
                    td.table__cell.table__cell_empty.hidden-stage-3
                    td.table__titlecell(colspan="3").hidden-stage-1 Качество, сервис, чистота
                    td.table__titlecell.hidden-stage-3 12 нед.
                    td.table__titlecell.hidden-stage-3 Рейтинг
                    td.table__titlecell.hidden-stage-2 Проблемы
                tr
                    td(colspan="3").table__titlemargin
                each row, num in table
                    if (!row.empty)
                        each item, index in row.items
                            tr.table__row
                                td.table__cell
                                    if (index == 0)
                                        span.table__prize(class= num == 0 ? "table__prize_gold" : num == 1 ? "table__prize_silver" : num == 2 ? "table__prize_bronze" : "")= num + 1
                                td.table__cell
                                    a.table__link(href="!#")= item.name
                                td.table__cell(class= item.fullratingerror ? "table__cell_error" : "")= item.fullrating
                                td.table__cell.table__cell_empty.hidden-stage-3
                                td.table__cell.table__cell_count.hidden-stage-1= item.quality
                                td.table__cell.table__cell_count.hidden-stage-1= item.service
                                td.table__cell.table__cell_count.hidden-stage-1= item.clean
                                td.table__cell.table__cell_spark.hidden-stage-3
                                    span.table__sparkline= item.sparkline
                                td.table__cell.hidden-stage-3
                                    span= item.rating
                                    span.table__point(class= item.pointgrow == "up" ? "table__point_up" : "table__point_down")= item.point
                                td.table__cell.table__cell_last.hidden-stage-2
                                    each problem in item.problems
                                        if (problem == 1)
                                            span.table__problem Вид напитка
                                        if (problem == 2)
                                            span.table__problem ожидание заказа
                                        if (problem == 3)
                                            span.table__problem упаковка
                    else
                        tr
                            td(colspan="8").table__emptycell
        div.foot
            p.foot__field
                a(href="#") Таблица результатов в гугль-доке
            p.foot__field.foot__field_right
                span Для замечаний и предложений:
                a.foot__link(href="mailto:support@dodopizza.com") support@dodopizza.com
