.wrapper{
    margin: 0 auto;
    padding: 100px 10px;
    max-width: 1200px;
}


body{
    min-width: 320px;
    @media screen and (max-width: 320px) {
        overflow: auto;
    }
}

a{
    color: #2a7fdd;
    text-decoration: none;
    border-bottom: 1px solid rgba(#2a7fdd, 0.2);
    &:visited{
        color: #6f57e6;
        border-bottom: 1px solid rgba(#6f57e6, 0.2);
    }
    &:hover{
        color: #e97901;
        border-bottom: 1px solid rgba(#e97901, 0.2);
    }

}


.foot{
    font-size: 14px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &__field{
        @media screen and (min-width: $screen-md-min) {
            width: 50%;
            float: left;
            &_right{
                text-align: right;
            }
        }
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }
    }
    &__link{
        margin-left: 5px;
        &:hover{
            color: #2a7fdd;
            border-bottom: 1px solid rgba(#2a7fdd, 0.2);
        }
    }
}

@media screen and (max-width: 900px) {
    .hidden-stage-1{
        display: none;
    }
}
@media screen and (max-width: 620px) {
    .hidden-stage-2{
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .hidden-stage-3{
        display: none;
    }
}