.table{
    font-size: 14px;
    margin-bottom: 40px;
    &__headcell{
        text-align: left;
        font-size: 16px;
    }
    &__titlecell{
        border-bottom: 2px solid #E0E0E0;
        padding: 5px 2px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
    &__titlemargin{
        height: 5px;
    }
    &__row{
        &:hover{
            .table__cell{
                background-color: #F0F1EC;
            }
        }
    }
    &__prize{
        display: block;
        position: relative;
        padding-left: 20px;
        &_gold, &_silver, &_bronze{
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -6px;
                left: 3px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
        }
        &_gold{
            &:before{
                background-color: #F6DD3A;
            }
        }
        &_silver{
            &:before{
                background-color: #B0C0CD;
            }
        }
        &_bronze{
            &:before{
                background-color: #EDA93A;
            }
        }
    }
    &__cell{
        padding: 2px;
        height: 30px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
        &_error{
            color: #cc8478;
        }
        &_last{
            width: 40%;
            @media screen and (max-width: 900px) {
                width: 30%;
            }
        }
        &_empty{
            width: 40px;
            @media screen and (max-width: 580px) {
                width: 20px;
            }
        }
        &_count{
            width: 60px;
            color: #cc8478;
        }
        &_spark{
            width: 50px;
        }
    }
    &__point{
        margin-left: 5px;
        &:before{
            font-size: 12px;
        }
        &_up{
            color: #466C19;
            &:before{
                content: "\25B2";
            }
        }
        &_down{
            color: #A33D31;
            &:before{
                content: "\25BC";
            }
        }
    }
    &__emptycell{
        height: 30px;
    }
    &__problem{
        padding-right: 3px;
        &:not(:last-child){
            &:after{
                content: ",";
            }
        }
    }
}