doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet", href="css/style.css")
        block title
            title Dodo
    body
        block content

        script(src="js/build.js")
